{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block class-container %}{% endblock %}

{% block nav-blog %}
    class="active"
{% endblock %}

{% block container-outer %}
    <div class="container">
      {% block breadcrumbs %}{% endblock %}
    </div>

    <div class="container">
      <div class="row">
        <div id="content" class="hfeed span8">
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Blog index" %}">
                  {% trans "Blog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock %}
        </div>
        <div id="sidebar" class="span4">
          {% block sidebar %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
